[submodule "thirdparty/account-abstraction"]
	path = thirdparty/account-abstraction
	url = git@github.com:eth-infinitism/account-abstraction.git
[submodule "thirdparty/bundler"]
	path = thirdparty/bundler
	url = git@github.com:eth-infinitism/account-abstraction.git
